.information-section-main-container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.information-section-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.information-container-left-column{
    background-color: rgba(0,0,0,0.02);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.information-close-button-container{
    align-self: center;
    width: 100%;
    padding: 10px 25px;
    cursor: pointer;
}


.information-container-right-column{
    /*background-color: rgba(0,0,0,0.2);*/
    background-color: rgba(255,255,255,1.0);
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.information-left-column-options-container{
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.information-left-column-option{
    background-color: transparent;
    color: rgba(0,0,0,0.25);
    width: 60%;
    height: 8%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.25);
    margin-bottom: 40px;
}

.information-left-column-option:hover{
    color: rgba(0,0,0,0.75);
    border-bottom: 2px solid rgba(0,0,0,0.75);
}

.information-left-column-option-selected{
    color: rgba(0,0,0,0.75);
    border-bottom: 2px solid rgba(0,0,0,0.75);
}

.information-left-column-option-text{
    align-self: center;
    font-size: 14px;
}

.information-about-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.information-about-logo-container{
    align-self: center;
    padding: 80px;
}

.information-about-description-container{
    align-self: center;
    font-size: 18px;
    padding: 0 100px 65px 100px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.information-about-collaborators-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 0 100px;
}

.information-about-logo{
    cursor: pointer;
}

.information-morphometrics-main-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.information-morphometrics-title{
    font-weight: bold;
    font-size: 24px;
    padding: 20px 100px;
    color: rgba(0,0,0,0.5);
}

.information-morphometrics-description{
    font-size: 18px;
    padding: 20px 100px 60px 100px;
    color: rgba(0,0,0,0.5);
}

.information-morphometrics-image{
    width: 50%;
    height: 80%;
    padding: 20px 100px 60px 100px;
    align-self: center;
}

.information-morphometrics-reference{
    font-size: 14px;
    padding: 20px 100px;
    color: rgba(0,0,0,0.5);
}

.information-morphometrics-hyperlink{
    cursor: pointer;
}

.information-morphometrics-hyperlink:hover{
    color: #00BFDF;
}

.information-language-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.information-language-option{
    align-self: center;
    font-size: 20px;
    padding: 10px;
    color: rgba(0,0,0,0.5);
}

.information-language-option-selected{
    color: rgba(153, 240, 255, 1.0);
}

.information-language-option:hover{
    color: rgba(153, 240, 255, 1.0);
}
